.profile-section{
    grid-area: profile;
    width: 100%;
    display: flex;
    gap: 1.6rem;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.22rem;
    color: #828282;
    height: fit-content;
}
.profile-picture{
    width: 25vw;
    height: auto;
    background-color: #adaaaa;
    border-radius: 8px;
}
.profile-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.profile-info .header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}
.profile-info .header .info{
    gap: 0.33rem;
}
.profile-info .header .info, .profile-info .header .contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-info .name, .profile-info .contact{
    color: #4F4F4F;
}
.profile-info .name{
    font-weight: 600;
    font-size: 1.43rem;
    line-height: 1.61rem;
}
.profile-info .contact{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.profile-info .contact .icon{
    width: 13px;
    height: auto;
}
.profile-info .contact .icon path{
    fill: #4F4F4F;
}
.about-me{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 96%;
}

@media screen and (min-width: 768px) {
    .profile-info .contact .icon{
        width: 22px;
    }
}

@media screen and (min-width: 992px) {
    .profile-section{
        gap: 1.85rem;
        font-weight: 500;
        font-size: 1rem;
    }
    .profile-picture{
        width: 16vw;
        border-radius: 12px;
    }
    .profile-info .name{
        font-weight: 600;
        font-size: 1.33rem;
        line-height: 1.61rem;
    }
    .profile-info .contact{
        gap: 0.5rem;
    }
    .profile-info .contact .icon{
        width: 22px;
        height: auto;
    }
    .about-me{
        max-width: 36.55rem;
    }
}