.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "profile"
                       "skills"
                       "experiences"
                       "hobbies"
                       "blog"
                       "projects";
  row-gap: 2.4vh;
  column-gap: 2.5vw;
  background-color: #f2f2f2;
  min-height: 100vh;
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2.4vh;
  padding-bottom: 2.4vh;
}
.section{
  z-index: 2;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 2vw;
}
.section::before{
  position: absolute;
  z-index: -1;
  content: "";
  width: 86%;
  height: 5px;
  left: 50%;
  bottom: 0;
  background-color: transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.10);
  border-radius: 12px;
  transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
  .App {
    display: grid;
    grid-template-columns: 28.81vw 1fr;
    grid-template-areas: "profile profile"
                        "skills blog"
                        "hobbies blog"
                        "hobbies experiences"
                        "projects projects";
    row-gap: 2.5vw;
    column-gap: 2.5vw;
    background-color: #f2f2f2;
    min-height: 100vh;
    width: 100%;
    padding-left: 13.68vw;
    padding-right: 13.68vw;
    padding-top: 7.7vh;
    padding-bottom: 5vh;
  }
  .section{
    z-index: 2;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 1.66vw;
  }
  .section::before{
    position: absolute;
    z-index: -1;
    content: "";
    width: 86%;
    height: 5px;
    left: 50%;
    bottom: 0;
    background-color: transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.10);
    border-radius: 12px;
    transform: translateX(-50%);
  }
}