@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
}

html{
  font-size: 6px;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media screen and (min-width: 300px) {
  html{
    font-size: 8.5px;
  }
}
@media screen and (min-width: 768px) {
  html{
    font-size: 18px;
  }
}